.work {
  width: 100%;

  .work-item {
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      margin: 0 auto;
      @include hover-item;
    }
  }
}
