.reading-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .book {
    width: calc(100% * 1/5);
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    text-align: center;

    img {
      width: 90%;
      height: 24vw;
      margin: 0 auto;
      // backface-visibility: hidden;
      object-fit: cover;

      @include hover-item;

      // &:hover {
      //   opacity: 0.6;
      //   transition: all 0.3s ease;
      //   cursor: pointer;
      // }
    }
  }
}
