.reading-list {
  .book {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    @include hover-item;

    img {
      width: 100%;
      height: 22vw;
      object-fit: cover;

      @include small {
        width: 80%;
        height: auto;
        margin: 0 auto;
      }
    }

    .book-description {
      width: 100%;
      height: 4rem;
      color: black;
      padding-top: .25rem;
      font-size: 0.85rem;

      @include small {
        text-align: center;
      }

      .author {
        color: #adafb4;
      }
    }
  }
}

// #e8276c
